<mat-sidenav #sidenav [mode]="'push'">
    <p><button mat-button (click)="sidenav.toggle()"><</button></p>
    <p><button mat-button [routerLink]='["/admin"]' (click)="sidenav.toggle()">Admin</button></p>
    <p><button mat-button [routerLink]='["/login"]' (click)="sidenav.toggle()">Login</button></p>
    <p><button mat-button [routerLink]='["/register"]' (click)="sidenav.toggle()">Register</button></p>
</mat-sidenav>


<mat-toolbar> <button mat-button (click)="sidenav.toggle()">></button> Test app </mat-toolbar>